html,
body,
#root {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  background-color: wheat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
